$header-height: 100px;

.container {
  margin: 0 auto;
  padding-top: $header-height;
  max-width: 1200px;
}

.header {
  position: absolute;
  z-index: 5;

  height: $header-height;
  width: 100%;
  // align-items: center;
  border-bottom: 2px solid darkcyan;
  // background-color: darkcyan;
}