.dropListContainer {
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 10px;
  background-color: white;
  box-shadow:  0 4px 8px rgba(0, 0, 0, .2);
}

.dropList {
  display: flex;
  justify-content: space-between;
}

.title {
  font-size: 20px;
  font-weight: 600;
  margin: 10px 0;
}

.categories {
  margin: 0;
  padding: 0;
  list-style: none;
}

.category {
  padding: 5px;
  margin: 0 5px 5px 0;
  border: 1px solid lightgray;
  font-size: 16px;
  font-weight: normal;
  cursor: pointer;

  &--chosen {
    background-color: lightgreen;
  }
}